<head>
  <link rel="stylesheet" href="assets/main.css" />
  <link rel="stylesheet" href="components/main.css" />
  <script src="assets/main.js" type="module" defer></script>
</head>
<body>
  <main>
    <sg-sidebar is-open>
      <span>hi there in the sidebar :)</span>
    </sg-sidebar>
  </main>
  {% svgsprite %}
</body>
