---
import BaseLayout from '../layouts/BaseLayout.astro';

const testGuesses = JSON.stringify([
  {
    letters: [
      { value: 'p', state: 'unused' },
      { value: 'o', state: 'used' },
      { value: 'l', state: 'guessed' },
      { value: 'k', state: 'unused' },
      { value: 'a', state: 'guessed' },
    ],
  }
]);
---
<BaseLayout>

  <style lang="scss">
    aside {
      width: 100%;
    }

    section {
      flex-grow: 1;
      align-self: center;

      display: flex;
      flex-direction: column;
      justify-content: center;

      max-width: 28rem;
      height: 100%;
      margin-bottom: var(--size-5);
    }
  </style>

  <!-- Script needed for guess-grid -->
  <script type="module" src={Astro.resolve('../components/guess-grid/guess-grid-element.ts')}></script>

  <section>
    <sg-guess-grid guesses={testGuesses}></sg-guess-grid>
  </section>

  <aside>
    <!-- Script needed for keyboard -->
    <script type="module" src={Astro.resolve('../components/virtual-keyboard/virtual-keyboard-element.ts')}></script>

    <sg-virtual-keyboard
      unused-letters="pk"
      guessed-letters="la"
      used-letters="o"
    ></sg-virtual-keyboard>
  </aside>

  <!--
  You can also use imported framework components directly in your markup!

  Note: by default, these components are NOT interactive on the client.
  The `:visible` directive tells Astro to make it interactive.

  See https://docs.astro.build/core-concepts/component-hydration/
  -->
</BaseLayout>
