---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>

  <style lang="scss">
    aside {
      width: 100%;
    }

    section {
      flex-grow: 1;
      align-self: center;

      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  </style>

  <section>
    hi :)
  </section>
</BaseLayout>
