---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>

  <style lang="scss">
    aside {
      width: 100%;
    }

    section {
      flex-grow: 1;
      align-self: center;

      display: flex;
      flex-direction: column;
      justify-content: center;

      max-width: 28rem;
      height: 100%;
      margin-bottom: var(--size-5);
    }
  </style>

  <!-- Script needed for guess-grid -->
  <script type="module" src={Astro.resolve('../components/board/board-element.ts')}></script>

  <section>
    <sg-board></sg-board>
  </section>

  <!--
  You can also use imported framework components directly in your markup!

  Note: by default, these components are NOT interactive on the client.
  The `:visible` directive tells Astro to make it interactive.

  See https://docs.astro.build/core-concepts/component-hydration/
  -->
</BaseLayout>
