---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
  <style lang="scss">
    section {
      flex-grow: 1;
      align-self: center;

      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  </style>

  <section>
    <a href="/locations">locations</a>
  </section>
</BaseLayout>
