---
import Header from '../components/header/Header.astro';

import '@components/styles/props.scss';
import '../styles/reset.css';
import '../styles/brand.scss';
import '../styles/fonts.css';

const title = 'Site Starter';
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>
  <style>
    body, html {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    main {
      flex-grow: 1;

      display: flex;
      flex-direction: column;
      justify-content: stretch;
      align-items: stretch;

      max-width: 36em;
      width: 100%;
      margin: 0 auto;
      padding: var(--app-box-spacer) var(--app-gutter);
		}
	</style>
  <Header />
  <main>
    <slot />
	</main>
</body>
</html>
