sg-accordion {
  --accordion-item-header-padding: var(--size-2) var(--app-gutter);
  --accordion-item-content-padding: var(--size-2) var(--app-gutter);
  --accordion-animation-easing: var(--ease-2);
  --accordion-animation-duration: .5s;
  --accordion-item-border: var(--border-base);

  display: block;
  border-bottom: var(--accordion-item-border);

  details {
    border-top: var(--accordion-item-border);
  }

  summary {
    display: flex;
    justify-content: space-between;
    padding: var(--accordion-item-header-padding);
    cursor: pointer;

    &:after {
      content: "";
      display: inline-block;
      background-image: url('data:image/svg+xml, <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path></svg>');
      width: 1.5em;
      height: 1.5em;
      text-align: center;

      transition: transform .25s var(--ease-1);
    }

    & ~ * {
      padding: var(--accordion-item-content-padding);
    }
  }

  details[open] summary:after {
    transform: rotate(180deg);
  }

  summary::-webkit-details-marker,
  summary::marker {
    margin-right: 2ch;
  }

  summary ~ span {
    display: block;
  }
}
