sg-accordion {
  --accordion-item-header-padding: var(--size-2) var(--app-box-spacer);
  --accordion-item-content-padding: var(--size-2) var(--app-box-spacer);

  details {
    border-top: var(--accordion-item-border, var(--border-base));
  }

  summary {
    display: flex;
    flex-wrap: none;
    justify-content: space-between;
    align-items: center;

    padding: var(--accordion-item-header-padding);

    cursor: pointer;
  }

  summary::-webkit-details-marker,
  summary::marker {
    display: none
  }

  details summary ~ * {
    padding: var(--accordion-item-content-padding);
  }

  details summary ~ span {
    display: block;
  }
}
