sg-accordion {
  --accordion-item-header-padding: var(--size-2) var(--app-gutter);
  --accordion-item-content-padding: var(--size-2) var(--app-gutter);
  --accordion-animation-easing: var(--ease-2);
  --accordion-animation-duration: .5s;
  --accordion-summary-display: list-item;
  --accordion-item-border: var(--border-base);

  display: block;
  border-bottom: var(--accordion-item-border);

  details {
    border-top: var(--accordion-item-border);
  }

  summary {
    display: var(--accordion-summary-display);
    padding: var(--accordion-item-header-padding);

    & ~ * {
      padding: var(--accordion-item-content-padding);
    }
  }

  summary::-webkit-details-marker,
  summary::marker {
    margin-right: 2ch;
  }

  summary ~ span {
    display: block;
  }
}
